.site-header {
  background-color: #333333;
  font-family: "Josefin Sans", Verdana, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  height: 75px;
  .page-link {
    display: inline-block;
    color: #e6e6e6;
    vertical-align: middle;
    line-height: 75px;
  }
}
